body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #fafafa;
}

/*TÍTULOS*/
h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  color: #545454;
  cursor: default;
}

.ativacao{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: 500;
  color: #545454;
  cursor: pointer;
}

hr{
  width: 50%;
}


/*CONTAINERS*/
.container{
  position: relative;
  text-align: center;
  top: 20%;
}


/*FORM*/
.login-form,.cadastro-form {
  display: none;
}
.active-form {
  display: block;
}

@media only screen and (max-width: 600px) {
  form {
    padding: 20px 0;
  }
  .input-field {
    padding: 5px;
  }
  .btn {
    padding: 10px 20px;
  }
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}


/*BOTÃO DE ENVIAR*/
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.btn:hover {
  background-color: #45a049;
}


/*BLOCOS COLORIDOS*/
#erro {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#sucesso {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
